{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'main/menu.html.twig' %}
    {% endblock %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>


</div>
{% endblock %}
